h1 {
  color: rgb(84, 9, 93);
  font-size: 30px;
  font-weight: bolder;
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  color: rgb(63, 89, 37);
  text-decoration: dotted;
  background-color: orange;
}
.paragraph {
  color: blueviolet;
}

* {
  background-color: #a8e8a6;
  margin: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
